#dependencias
node_modules/

#variaveis de ambiente
.env
.env.*

#arquivos compilados
dist/
build/

#logs de erro do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#arquivos do sistema operacional
.DS_Store
.vscode/
.idea/